<div id="<%= dom_id submission %>">
  <p>
    <strong>User:</strong>
    <%= submission.user_id %>
  </p>

  <p>
    <strong>Prompt:</strong>
    <%= submission.prompt %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= submission.response %>
  </p>

</div>
